<div id="bolo-container" class="row text-left px-3">
    <div class="col-lg-6 col-12">
        <h5><i class="fas fa-user"></i> BOLO PERSON</h5>
        {% for bolo in bolo_p %}
            <div class="bg-main px-3 py-3 mt-2 position-relative" style="border-right: 15px solid {% if bolo.priority == 1 %}#43a047{% elseif bolo.priority == 2 %}#fabf2d{% elseif bolo.priority == 3 %}#c52828{% endif %};">
                {% if department_type == 2 %}
                <div class="position-absolute" style="right: 8px; top: 0px;">
                    <a onclick="sendWebsocket('remove-people-bolo', {id: {{bolo.id}}})"><i class="fas fa-times"></i></a>
                </div>
                {% endif %}
                <span class="font-roboto font-weight-bold">{{bolo.target|upper}}</span><br/>
                <span class="font-roboto">• {{bolo.description}}</span><br/>
                <span class="font-roboto">• {{bolo.reason}}</span><br/>
                <span class="font-roboto">• {{bolo.last_location}}</span>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-6 col-12">
        <h5><i class="fas fa-car"></i> BOLO VEHICLE</h5>
        {% for bolo in bolo_v %}
            <div class="bg-main px-3 py-3 mt-2 position-relative" style="border-right: 15px solid {% if bolo.priority == 1 %}#43a047{% elseif bolo.priority == 2 %}#fabf2d{% elseif bolo.priority == 3 %}#c52828{% endif %};">
                {% if department_type == 2 %}
                <div class="position-absolute" style="right: 8px; top: 0px;">
                    <a onclick="sendWebsocket('remove-vehicle-bolo', {id: {{bolo.id}}})"><i class="fas fa-times"></i></a>
                </div>
                {% endif %}
                <span class="font-roboto font-weight-bold">{{bolo.target|upper}}</span><br/>
                <span class="font-roboto">• {{bolo.description}}</span><br/>
                <span class="font-roboto">• {{bolo.reason}}</span><br/>
                <span class="font-roboto">• {{bolo.last_location}}</span>
            </div>
        {% endfor %}
    </div>
</div>