<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-main">
        <div class="modal-header">
            <h5 class="modal-title">DMV</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="rounded font-hack">

                <div class="text-center">

                    <div class="bg-primary text-light py-2">STATE OF SAN ANDREAS</div>
                    <div class="bg-light text-primary py-2"><h1 class="font-weight-bold">{{dmv_vehicle.plate}}</h1></div>

                </div>
                <br/>
                Марка: {{dmv_vehicle.mark}};<br/>
                Модель: {{dmv_vehicle.model}};<br/>
                VIN: {{dmv_vehicle.vin}};<br/>
                <br/>
                Цвета: {{dmv_vehicle.color}};<br/>
                Описание: 
                {% if dmv_vehicle.description|length > 0 %}
                    <br/>===<br/>
                    {{dmv_vehicle.description}}<br/>
                    ===<br/>
                {% else %}
                    не указано;<br/>
                {% endif %}
                <br/>
                Владелец: <a class="text-primary" onclick="ncicSearch('{{owner.ssn}}')">{{owner.name}}</a>

            </div>
        </div>
    </div>
</div>