<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-main">
        <div class="modal-header text-center position-relative">
            <div class="position-absolute"><a onclick="ncicSearch('{{character['ssn']}}')"><i class="fas fa-chevron-left"></i></a></div>
            <h5 class="modal-title mx-auto">ШТРАФ</h5>
        </div>
        <div class="modal-body" id="newcitation-form">
            <div class="row">
                <div class="col-12 col-md-6 mt-1">
                    <small class="form-text text-muted">Имя и Фамилия</small>
                    <input type="text" class="form-control bg-form mt-1" value="{{character['name']}}" disabled>
                </div>
                <div class="col-12 col-md-6 mt-1">
                    <small class="form-text text-muted">DOB</small>
                    <input type="text" class="form-control bg-form mt-1" value="{{character['birth']}}" disabled>
                </div>
                <div class="col-12 mt-1">
                    <small class="form-text text-muted">Адрес проживания</small>
                    <input type="text" class="form-control bg-form mt-1" value="{{character['address']}}" disabled>
                </div>
                <div class="col-12 col-md-4 mt-1">
                    <small class="form-text text-muted">Дата нарушения</small>
                    <input type="text" class="form-control bg-form mt-1" value="{{time|date('d/m/Y', 'Europe/Moscow')}}" disabled>
                </div>
                <div class="col-12 col-md-4 mt-1">
                    <small class="form-text text-muted">Время нарушения</small>
                    <input type="time" id="newcitation-time" class="form-control bg-form mt-1" value="{{time|date('H:i', 'Europe/Moscow')}}">
                </div>
                <div class="col-12 col-md-4 mt-1">
                    <small class="form-text text-muted">Сумма штрафа</small>
                    <input type="number" id="newcitation-amount" class="form-control bg-form mt-1" min="1" max="999999">
                </div>
                <div class="col-12 mt-1">
                    <small class="form-text text-muted">Место нарушения</small>
                    <input type="text" id="newcitation-location" class="form-control bg-form mt-1">
                </div>
                <div class="col-12 mt-3">
                    <small class="form-text text-muted">Нарушения</small>
                    <select id="newcitation-reasons" class="mt-1 border-0 elevation--z1 text-light scrollbar scrollbar-dark custom-select" size="8" multiple>
                        {% for k, v in citation_reasons %}
                            <option value="{{k}}">{{v}}</option>
                        {% endfor %}
                    </select>
                    {# <select id="newcitation-reasons" class="border-0 mdb-select md-outline md-form m-0 mt-1 elevation--z4 rounded" multiple searchable="Поиск">
                        <option value="" disabled selected>Выберите нарушения</option>
                        {% for k, v in citation_reasons %}
                            <option value="{{k}}">{{v}}</option>
                        {% endfor %}
                    </select> #}
                </div>
                <input type="hidden" id="charid" value="{{character.id}}">
                <div class="col-12 mt-3">
                    <small class="form-text text-muted">Детали</small>
                    <textarea class="form-control bg-form rounded scrollbar scrollbar-dark mt-1" id="newcitation-details" rows="4"></textarea>
                </div>
            </div>
                <hr>
                <button class="btn btn-block btn-primary" onclick="makeCitation('{{character.ssn}}')">Выдать</button>

        </div>
    </div>
</div>